body {
  padding: 64px;
}

/* 変化前のスタイル */
.box {
  width: 100px;
  height: 100px;
  background-color: orange;

  /* アニメーションの設定 */
  animation-name: move;
  /* アニメーションの時間の設定 */
  animation-duration: 2s;
}

/* アニメーションスタイルの設定 */
@keyframes move {
  /* 0%の時、変化なし */
  0% {
    transform: none;
  }
  /* 80%(1.6秒時)の時のアニメーション */
  80% {
    transform: translateX(200px) rotate(360deg);
  }
  /* 100%(2秒時)の時のアニメーション */
  100% {
    transform: translateX(300px) rotate(360deg);
  }
}