body {
  padding: 64px;
}

/* 変化前のスタイル */
.box {
  width: 100px;
  height: 100px;
  background-color: orange;

  /* アニメーションの設定 */
  animation-name: move;
  /* アニメーションの時間の設定 */
  animation-duration: 2s;
  /* アニメーション開始までの時間 */
  animation-delay: 1s;
  /* アニメーション終了時の位置を固定する */
  animation-fill-mode: forwards;
  /* アニメーションを何回繰り返すかを指定 */
  /* animation-iteration-count: 2; */
  /* infiniteで無限に繰り返す */
  animation-iteration-count: infinite;
}

/* アニメーションスタイルの設定 */
@keyframes move {
  /* 0%の時、変化なし */
  0% {
    transform: none;
  }
  /* 80%(1.6秒時)の時のアニメーション */
  80% {
    transform: translateX(200px) rotate(360deg);
  }
  /* 100%(2秒時)の時のアニメーション */
  100% {
    transform: translateX(300px) rotate(360deg);
  }
}