body {
  padding: 64px;
}

/* 変化前のスタイル */
.box {
  width: 100px;
  height: 100px;
  background-color: orange;

  /* 変化の途中を補完する */
  /* 中間を補完するプロパティを指定 */
  transition-property: transform;
  /* 変化にかかる時間を指定 */
  transition-duration: 1s;
  /* 図形の起点を左上にする */
  transform-origin: top left;
}

/* 変化後のスタイル */
.box:hover {
  /* 30°回転する */
  transform: rotate(30deg);
}