body {
  padding: 64px;
}

/* 変化前のスタイル */
.box {
  width: 100px;
  height: 100px;
  background-color: orange;

  /* 変化の途中を補完する */
  /* 中間を補完するプロパティを指定 */
  transition-property: transform;
  /* アニメーションの時間を指定 */
  transition-duration: 0.3s;
  /* アニメーションの速度に緩急をつける */
  transition-timing-function: ease-out;
}

/* 変化後のスタイル */
.box:hover {
  /* 横方向に移動する */
  transform: translateX(30px);
}